# Notebook 2: Data Preprocessing

## Objectives:

#### `Clean the dataset.`
#### `Encode the data to ready it for Machine Learning model training.`

In [55]:
# Importation of libraries

# For mathematical computations
import numpy as np

# For data analysis 
import pandas as pd

# For data visualisations
import seaborn as sns
import matplotlib.pyplot as plt

# For label encoding 
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [56]:
# Importing the dataset
df = pd.read_csv("Telco_customer_churn-2.csv")
df.head()

,Unnamed: 0,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,0,Male,No,No,No,2,Yes,No,DSL,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,1,Female,No,No,Yes,2,Yes,No,Fiber optic,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,2,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,...,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372,Moved
3,3,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,4,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340,Competitor had better devices

#### Removing unnecessary index column 'Unnamed: 0'

In [57]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
df.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,...,Month-to-month,Yes,Electronic check,99.65,820.50,Yes,1,86,5372,Moved
3,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,89,5340,Competitor had better devices

#### Handling 'Gender' label

In [58]:
df.Gender.value_counts()

Gender
Male      3555
Female    3488
Name: count, dtype: int64

In [59]:
df.Gender = label_encoder.fit_transform(df.Gender)
df.Gender.value_counts()

Gender
1    3555
0    3488
Name: count, dtype: int64

In [60]:
import warnings

# Suppress future warnings
warnings.simplefilter('ignore', FutureWarning)

#### Handling 'Senior Citizen' label

In [61]:
df['Senior Citizen'].value_counts()

Senior Citizen
No     5901
Yes    1142
Name: count, dtype: int64

In [62]:
df['Senior Citizen'] = label_encoder.fit_transform(df['Senior Citizen'])
df['Senior Citizen'].value_counts()

Senior Citizen
0    5901
1    1142
Name: count, dtype: int64

#### Handling 'Partner' and 'Dependents' labels

In [63]:
print(df['Partner'].value_counts())
print(df['Dependents'].value_counts())

Partner
No     3641
Yes    3402
Name: count, dtype: int64
Dependents
No     5416
Yes    1627
Name: count, dtype: int64

In [64]:
df['Partner'] = label_encoder.fit_transform(df['Partner'])
df['Dependents'] = label_encoder.fit_transform(df['Dependents'])

print(df['Partner'].value_counts())
print(df['Dependents'].value_counts())

Partner
0    3641
1    3402
Name: count, dtype: int64
Dependents
0    5416
1    1627
Name: count, dtype: int64

#### Handling "Tenure Months" label

In [65]:
df['Tenure Months'].value_counts()

Tenure Months
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64

Converting into categorical feature through binning

In [66]:
# Define the bin edges and labels
bin_edges = [-1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,60,65,70, 75]
bin_labels = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

# Use pd.cut to categorize 'Tenure Months' into bins
df['Tenure Months'] = pd.cut(df['Tenure Months'], bins=bin_edges, labels=bin_labels)
df['Tenure Months'] = df['Tenure Months'].astype('int')
df['Tenure Months'].value_counts()

Tenure Months
0     1371
1      599
14     532
13     501
2      500
4      411
3      408
12     374
5      352
6      351
10     350
11     348
9      340
8      312
7      294
Name: count, dtype: int64

#### Handling 'Phone Service' and 'Multiple Lines' labels

In [67]:
print(df['Phone Service'].value_counts())
print(df['Multiple Lines'].value_counts())

Phone Service
Yes    6361
No      682
Name: count, dtype: int64
Multiple Lines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [68]:
df['Phone Service'] = label_encoder.fit_transform(df['Phone Service'])
df['Multiple Lines'] = label_encoder.fit_transform(df['Multiple Lines'])

print(df['Phone Service'].value_counts())
print(df['Multiple Lines'].value_counts())

Phone Service
1    6361
0     682
Name: count, dtype: int64
Multiple Lines
0    3390
2    2971
1     682
Name: count, dtype: int64

#### Handling 'Internet Service' and 'Online Security' labels

In [69]:
print(df['Internet Service'].value_counts())
print(df['Online Security'].value_counts())

Internet Service
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64
Online Security
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

In [70]:
df['Internet Service'] = label_encoder.fit_transform(df['Internet Service'])
df['Online Security'] = label_encoder.fit_transform(df['Online Security'])

print(df['Internet Service'].value_counts())
print(df['Online Security'].value_counts())

Internet Service
1    3096
0    2421
2    1526
Name: count, dtype: int64
Online Security
0    3498
2    2019
1    1526
Name: count, dtype: int64

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   int64
 1   Senior Citizen     7043 non-null   int64
 2   Partner            7043 non-null   int64
 3   Dependents         7043 non-null   int64
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   int64
 6   Multiple Lines     7043 non-null   int64
 7   Internet Service   7043 non-null   int64
 8   Online Security    7043 non-null   int64
 9   Online Backup      7043 non-null   object
 10  Device Protection  7043 non-null   object
 11  Tech Support       7043 non-null   object
 12  Streaming TV       7043 non-null   object
 13  Streaming Movies   7043 non-null   object
 14  Contract           7043 non-null   object
 15  Paperless Billing  7043 non-null   object
 16  Payment Method     7043 non-null   object
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   float64
 19  Churn Label        7043 non-null   object
 20  Churn Value        7043 non-null   int64
 21  Churn Score        7043 non-null   int64
 22  CLTV               7043 non-null   int64
 23  Churn Reason       1869 non-null   object
dtypes: float64(2), int64(12), object(10)
memory usage: 1.3+ MB

#### Encoding 'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV' labels

In [72]:
print(df['Online Backup'].value_counts())
print(df['Device Protection'].value_counts())
print(df['Tech Support'].value_counts())
print(df['Streaming TV'].value_counts())

Online Backup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
Device Protection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
Tech Support
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
Streaming TV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

In [73]:
df['Online Backup'] = label_encoder.fit_transform(df['Online Backup'])
df['Device Protection'] = label_encoder.fit_transform(df['Device Protection'])
df['Tech Support'] = label_encoder.fit_transform(df['Tech Support'])
df['Streaming TV'] = label_encoder.fit_transform(df['Streaming TV'])

print(df['Online Backup'].value_counts())
print(df['Device Protection'].value_counts())
print(df['Tech Support'].value_counts())
print(df['Streaming TV'].value_counts())

Online Backup
0    3088
2    2429
1    1526
Name: count, dtype: int64
Device Protection
0    3095
2    2422
1    1526
Name: count, dtype: int64
Tech Support
0    3473
2    2044
1    1526
Name: count, dtype: int64
Streaming TV
0    2810
2    2707
1    1526
Name: count, dtype: int64

#### Encoding 'Streaming Movies' ,'Contract' ,'Paperless Billing', 'Payment Method' labels

In [74]:
print(df['Streaming Movies'].value_counts())
print(df['Contract'].value_counts())
print(df['Paperless Billing'].value_counts())
print(df['Payment Method'].value_counts())

Streaming Movies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64
Paperless Billing
Yes    4171
No     2872
Name: count, dtype: int64
Payment Method
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [75]:
df['Streaming Movies'] = label_encoder.fit_transform(df['Streaming Movies'])
df['Contract'] = label_encoder.fit_transform(df['Contract'])
df['Paperless Billing'] = label_encoder.fit_transform(df['Paperless Billing'])
df['Payment Method'] = label_encoder.fit_transform(df['Payment Method'])

print(df['Streaming Movies'].value_counts())
print(df['Contract'].value_counts())
print(df['Paperless Billing'].value_counts())
print(df['Payment Method'].value_counts())

Streaming Movies
0    2785
2    2732
1    1526
Name: count, dtype: int64
Contract
0    3875
2    1695
1    1473
Name: count, dtype: int64
Paperless Billing
1    4171
0    2872
Name: count, dtype: int64
Payment Method
2    2365
3    1612
0    1544
1    1522
Name: count, dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   int64
 1   Senior Citizen     7043 non-null   int64
 2   Partner            7043 non-null   int64
 3   Dependents         7043 non-null   int64
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   int64
 6   Multiple Lines     7043 non-null   int64
 7   Internet Service   7043 non-null   int64
 8   Online Security    7043 non-null   int64
 9   Online Backup      7043 non-null   int64
 10  Device Protection  7043 non-null   int64
 11  Tech Support       7043 non-null   int64
 12  Streaming TV       7043 non-null   int64
 13  Streaming Movies   7043 non-null   int64
 14  Contract           7043 non-null   int64
 15  Paperless Billing  7043 non-null   int64
 16  Payment Method     7043 non-null   int64
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   float64
 19  Churn Label        7043 non-null   object
 20  Churn Value        7043 non-null   int64
 21  Churn Score        7043 non-null   int64
 22  CLTV               7043 non-null   int64
 23  Churn Reason       1869 non-null   object
dtypes: float64(2), int64(20), object(2)
memory usage: 1.3+ MB

In [77]:
print(df['Churn Label'].value_counts())
print(df['Churn Value'].value_counts())

Churn Label
No     5174
Yes    1869
Name: count, dtype: int64
Churn Value
0    5174
1    1869
Name: count, dtype: int64

#### Removing 'Churn Label' since 'Churn Value' represents same thing in numbers => 0 for No and 1 for Yes

In [78]:
df.drop('Churn Label', axis = 1, inplace = True)

#### Removing 'Churn Reason' (Irrelevant for ML model + other good labels to describe churn for model understanding)

In [79]:
df.drop('Churn Reason', axis = 1, inplace = True)
df.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
0,1,0,0,0,0,1,0,0,2,2,...,0,0,0,1,3,53.85,108.15,1,86,3239
1,0,0,0,1,0,1,0,1,0,0,...,0,0,0,1,2,70.70,151.65,1,67,2701
2,0,0,0,1,1,1,2,1,0,0,...,2,2,0,1,2,99.65,820.50,1,86,5372
3,0,0,1,1,5,1,2,1,0,0,...,2,2,0,1,2,104.80,3046.05,1,84,5003
4,1,0,0,1,9,1,2,1,0,2,...,2,2,0,1,0,103.70,5036.30,1,89,5340

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             7043 non-null   int64
 1   Senior Citizen     7043 non-null   int64
 2   Partner            7043 non-null   int64
 3   Dependents         7043 non-null   int64
 4   Tenure Months      7043 non-null   int64
 5   Phone Service      7043 non-null   int64
 6   Multiple Lines     7043 non-null   int64
 7   Internet Service   7043 non-null   int64
 8   Online Security    7043 non-null   int64
 9   Online Backup      7043 non-null   int64
 10  Device Protection  7043 non-null   int64
 11  Tech Support       7043 non-null   int64
 12  Streaming TV       7043 non-null   int64
 13  Streaming Movies   7043 non-null   int64
 14  Contract           7043 non-null   int64
 15  Paperless Billing  7043 non-null   int64
 16  Payment Method     7043 non-null   int64
 17  Monthly Charges    7043 non-null   float64
 18  Total Charges      7043 non-null   float64
 19  Churn Value        7043 non-null   int64
 20  Churn Score        7043 non-null   int64
 21  CLTV               7043 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 1.2 MB

Exporting the dataset

In [81]:
df.to_csv("Telco_customer_churn-3.csv")

### All the labels are in numeric form ready to be used for Machine Learning model training and testing. Advanced preprocessing steps like Data scaling and Feature engineering will be done in the model construction notebook.

## Notebook summary

1. __Removed irrelevant features for ML model.__
2. __Encoded all categorical labels, used binning for better generalisation/noise reduction where needed.__
3. __All labels are put into numeric form ready for scaling and feature engineering (in next file)__

## Made by: Hrishikesh Reddy Papasani
## Github Profile: https://github.com/Hrishikesh-Papasani